<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Smart Building</title>

<!-- Styles -->
<link rel="stylesheet" href="/styles.css" />

<!-- Charts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>

<!-- Socket.IO -->
<script defer src="/socket.io/socket.io.js"></script>
